APP_NAME=E-Voting
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/evoting/public

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=evoting
DB_USERNAME=root
DB_PASSWORD=

SESSION_NAME=EVOTING_SESSION
SESSION_LIFETIME=7200
